.product {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    width: 100%;
    background-color: #EEE;
}

.product p {
    margin: 2px 0;
}

.product:hover {
    border: 1px solid #AAA;
    background-color: #DDD;
}

.product h4 {
    margin: 5px 0;
}

.product img {
    width: 10%;
}