.user {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    /*min-width: 300px;*/
    background-color: #EEE;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user p {
    margin: 2px 0;
}

.user button {
    margin: 10px 0;
    height: 30px;
}